*{
padding: 0;
margin: 0;

}


.fist{
    height: 700px;
    width: 100%;
    background: url(backgound.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: end;


   
}
.info{
    margin-top: 5px;
height: 400px;
width: 400px;
background-color: red;



}
.card{
    height:250px ;
    width: 100%;
   
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
   
}
.card-fist{
    height:280px;
    width: 150px;
    background-color:rgb(66, 60, 60);
    border-radius: 10px;
    margin-left: 10px;
}


.img-fist{
    height:120px;
    width: 100px;
    padding: 22px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    
    
}
.card-fist h1{
    text-align: center;
}
.btn{
height: 30px;
width:90px ;
margin: 28px;
border-radius: 10px;


}
